.circular-text {
    animation: circularAnimation 20s linear infinite;
}

@keyframes circularAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}